.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.auth-form-fields {
  display: grid;
  gap: 1rem 1.5rem; /* vertical gap | horizontal gap */
}

/* Dinâmica para colunas */
.auth-form-fields {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.auth-form-field {
  display: flex;
  flex-direction: column;
}

.auth-form-field label {
  margin-bottom: 5px;
  font-weight: 600;
}

.auth-form-field input,
.auth-form-field select {
  padding: 0.7rem 0.9rem;
  font-size: 0.95rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.auth-form-field input:focus,
.auth-form-field select:focus {
  border-color: #0059ff;
  box-shadow: 0 0 0 2px rgba(0, 89, 255, 0.2);
}

.auth-form button {
  width: 100%;
  padding: 0.8rem;
  background-color: #0059ff;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.auth-form button:hover {
  background-color: #0043cc;
}

/* RESPONSIVO */
@media (max-width: 700px) {
  .auth-form-fields {
    grid-template-columns: 1fr !important;
  }
}
