* {
  box-sizing: border-box;
}

/*  LAYOUT GERAL  */
.page-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 100vw;
  height: 100vh;
  color: #282828;
}


/*  CONTAINER DO FORMULÁRIO  */
.form-wrapper {
  min-height: 75%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  /* flex-wrap: wrap; */

/* From https://css.glass */
  background: rgba(136, 35, 224, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.2px);
  -webkit-backdrop-filter: blur(7.2px);
  border: 1px solid rgba(255, 255, 255, 0.49);
  padding: 1rem;
  border-radius: 10px;

  width: 30vw;
  height: 80vh;
}


/*  HEADER DO FORMULÁRIO  */
.form--header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}


/*  FOOTER DO FORMULÁRIO  */
.form--footer {
  margin-top: 1rem;
}

/* CONTAINER DO FORMULÁRIO (LoginForm) */
.form--container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
