.navbar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-image: linear-gradient(90deg, #ff702d, #f5af19);
    padding: 1rem;
}

.navbar-wrapper li {
    list-style: none;
    transition: .2s;
    color: #fff;
}

.navbar-wrapper a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .2s ease-in-out;
}

.navbar-wrapper a:hover {
    transform: translateY(-8px);
}